@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* 
nav {
  background-color: #eee;

  margin: auto;
  text-align: center;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
} */

table {
  border: 1px solid gray;
}
table tr td,
th {
  border: 1px solid gray;
  padding: 10px 20px;
}

.card {
  border: 1px solid;
  padding: 30px;
}
.card h1 {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}
